<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <title>Adicionar aluno</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
  <h1>Adicionar Aluno</h1>
  <form action="/alunos/adicionar" method="post">
    <label for="name">Nome:</label><br>
    <input type="text" name="name" id="name" required><br>
      
    <label for="register">Número de matrícula:</label><br>
    <input type="text" name="register" id="register" required><br>
      
    <button type="submit">Adicionar</button>
  </form>
</body>
</html>