<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <title>Lista de Alunos</title>
</head>
<body>
  <h1>Lista de Alunos</h1>
  <table>
    <tr>
      <th>Nome</th>
      <th>Matrícula</th>
      <th>Ações</th>
    </tr>
    {% for student in students %}
    <tr>
      <td>{{ student.name }}</td>
      <td>{{ student.register }}</td>
      <td>
        <a href="/alunos/editar/{{ loop.index0 }}">Editar</a>
        <a href="">Excluir</a>
      </td>
    </tr>
    {% endfor %}
  </table>
  <a href="alunos/adicionar">Adicionar Aluno</a>
</body>
</html>