<!DOCTYPE html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Movies</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='movies.css') }}">
</head>
<body>
  <h1>Lista de Filmes</h1>
  <table>
    <tr>
      <th>Título</th>
      <th>Ano de lançamento</th>
    </tr>
  
    {% for movie in movies %}
    <tr>
      <td>{{ movie.title }}</td>
      <td>{{ movie.published_year }}</td>
    </tr>
    {% endfor %}
  </table>
</body>
</html>